/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* CONTAINER */
.nav-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #c62828;
}

.logo span {
  color: #222;
}

/* NAV LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  transition: 0.3s ease;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #c62828;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* LOGIN */
.login-link {
  color: #c62828;
  font-weight: 600;
}

/* REGISTER BUTTON */
.register-btn {
  background-color: #c62828;
  color: white !important;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
}

.register-btn:hover {
  background-color: #a61b1b;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}

/* MOBILE DESIGN */
@media (max-width: 600px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    border-top: 1px solid #eee;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    font-size: 16px;
  }

  .register-btn {
    padding: 10px 25px;
  }
}