.organizer-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
  color: white;
  border: thick;
  border-color: black;
}

.organizer-logo {
  font-size: 20px;
  font-weight: bold;
}

.organizer-nav-links {
  display: flex;
  gap: 10px;
}

.organizer-btn {
  padding: 8px 14px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.organizer-btn.active {
  background: #ff4d4f;
}

.logout-btn {
  background: #ff4d4f;
}

/* GRID */
.premium-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.glass-card {
  padding: 20px;
  border-radius: 12px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  color: white;
}

/* BADGE */
.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.badge.PENDING { background: orange; }
.badge.APPROVED { background: green; }
.badge.REJECTED { background: red; }

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* BUTTONS */
.verify-btn {
  background: green;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
}

.reject-btn {
  background: red;
  color: white;
  padding: 5px 10px;
}
.camp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.camp-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.camp-card:hover {
  transform: translateY(-5px);
}

.camp-card h3 {
  margin-bottom: 10px;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

/* STATUS COLORS */
.status-badge.UPCOMING {
  background: orange;
  color: white;
}

.status-badge.ONGOING {
  background: green;
  color: white;
}

.status-badge.COMPLETED {
  background: gray;
  color: white;
}